@model Hotel_des_ventes.Models.ProfileViewModel

@{
    ViewData["Title"] = "Announces";
}

@*Alert if Viewbag.Error is not empty*@
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<h1>@Html.DisplayFor(Model => Model.Username) - @Html.DisplayFor(Model => Model.Money)$</h1>


<ul class="nav nav-tabs" role="tablist" style="margin-top:30px">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Items">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="Announces">Announces</a>
    </li>
</ul>

<table class="table" style="margin-top:30px;">
    <thead>
        <tr>
            <th style="width:50%">@Html.DisplayNameFor(Model => Model.Announces.First().Item)</th>
            <th style="width:20%">@Html.DisplayNameFor(Model => Model.Announces.First().Price)</th>
            <th style="width:20%">@Html.DisplayNameFor(Model => Model.Announces.First().Quantity)</th>
        </tr>
    </thead>
    @foreach(var item in Model.Announces)
    {
        <tr style="height:50px" onclick="location.href = '@(Url.Action("Index","Item", new { AnnounceID = item.Id }))'">
            <td>@Html.DisplayFor(ModelItem => item.Item)</td>
            <td>@Html.DisplayFor(ModelItem => item.Price)</td>
            <td>@Html.DisplayFor(ModelItem => item.Quantity)</td>
        </tr>
    }
</table>


<h2>Logout</h2>
<br />

@using(Html.BeginForm("Logout", "Profile", FormMethod.Post))
{
    <input type="submit" value="Logout">
}