@model Hotel_des_ventes.Models.ProfileViewModel
@{
    ViewData["Title"] = "Items";
}

@*Alert if Viewbag.Error is not empty*@
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<h1>@Html.DisplayFor(Model => Model.Username)</h1>


<ul class="nav nav-tabs" role="tablist" style="margin-top:30px">
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="Items">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Announces">Announces</a>
    </li>
</ul>

<table class="table" style="margin-top:30px">
    <thead>
        <tr>
            <th style="width:10%">@Html.DisplayNameFor(Model => Model.Items.First().Name)</th>
            <th style="width:40%">@Html.DisplayNameFor(Model => Model.Items.First().Description)</th>
            <th style="width:5%">@Html.DisplayNameFor(Model => Model.Items.First().Quantity)</th>
            <th style="width:10%">Sell</th>
        </tr>
    </thead>
    @foreach(var item in Model.Items)
    {
        <tr style="height:50px">
            <td>@Html.DisplayFor(ModelItem => item.Name)</td>
            <td>@Html.DisplayFor(ModelItem => item.Description)</td>
            <td>@Html.DisplayFor(ModelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(ModelItem => item.Quantity)</td>
            <td>@using(Html.BeginForm("SellItem", "Item", FormMethod.Get)){ <input type="hidden" name="itemId" value="@item.Id"/> <input class="btn btn-primary" type="submit" value="Sell"> }</td>
        </tr>
    }
</table>

<h2>Logout</h2>
<br />


@*Button onclick open modal*@
<button type="button" class="btn btn-primary" onclick="ConfirmLogout()">
    Logout
</button>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Logout</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to logout?</h4>
            </div>
            
            <div class="modal-footer">
                <a href="#" class="btn btn-default" onclick="CloseModal()">Cancel</a>
                @using(Html.BeginForm("Logout", "Profile", FormMethod.Post))
                {
                    <input class="btn btn-primary" type="submit" value="Confirm">
                }
            </div>

        </div>

    </div>

</div>


@section scripts{
    <script>
        var ConfirmLogout = function () {
            $("#myModal").modal('show');
        }
        var CloseModal = function () {
            $("#myModal").modal('hide');
        }
    </script>
}