@model IEnumerable<Hotel_des_ventes.Models.MarketAvailableItemsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<div class="text-center" style="margin-bottom: 70px">
    <h1 class="display-4">Auction House</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width:50%">@Html.DisplayNameFor(Model => Model.Item)</th>
            <th style="width:10%">@Html.DisplayNameFor(Model => Model.Price)</th>
            <th style="width:10%">@Html.DisplayNameFor(Model => Model.Quantity)</th>
            <th style="width:30%">@Html.DisplayNameFor(Model => Model.Seller)</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr style="height:50px" onclick="location.href = '@(Url.Action("Index","Item", new { AnnounceID = item.Id }))'">
            <td>@Html.DisplayFor(ModelItem => item.Item)</td>
            <td>@Html.DisplayFor(ModelItem => item.Price)</td>
            <td>@Html.DisplayFor(ModelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(ModelItem => item.Seller)</td>
        </tr>
    }
</table>